@model FinansApp.Business.News.Dto.NewsAddOrEditDto;
@{
    ViewData["Title"] = "AddOrEdit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Styles{ 
    <link href="~/lib/summernote/summernote.min.css" rel="stylesheet" />
} 
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                @if (Model.Id == 0)
                {
                    <h1 class="m-0 text-dark">Haber Ekle</h1>
                }
                else
                {
                    <h1 class="m-0 text-dark">@Model.Title</h1>
                }
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="/haberler">Listeye Dön</a></li>
                </ol>
            </div>
        </div>
    </div>
</section>
<section class="content">
    <div class="container">
        <div class="card">
            <div class="card-body card-primary">
                <form role="form" id="AddOrEditForm">
                    <input type="hidden" name="Id" value="@Model.Id" />
                    <div class="row mb-3">
                        <div class="form-group col-md-3">
                            @if (Model.IsActive == true)
                            {
                                <input type="checkbox" id="isActive" name="IsActive" checked="checked" value="true" />
                                <label for="isActive" class="accent-blue">Aktif mi?</label>
                            }
                            else
                            {
                                <input type="checkbox" id="isActive" name="IsActive" value="true" />
                                <label for="isActive" class="accent-blue">Aktif mi?</label>
                            }
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="form-group mb-3 col-md-4">
                            <label>Kategori</label>
                            <select id="parentCategory" class="form-control" name="CategoryId">
                                <option value="">Kategori Seçiniz..</option>
                                @foreach (var item in Model.Categories)
                                {
                                    @if (Model.CategoryId == item.Id)
                                    {
                                        <option selected value="@item.Id">@item.Name</option>
                                    }
                                    else
                                    {
                                        <option value="@item.Id">@item.Name</option>
                                    }
                                }
                            </select>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="form-group mb-3 col-md-8">
                            <label>Haber Başlığı</label>
                            <input type="text" name="Title" id="Title" class="form-control" value="@Model.Title" placeholder="Haber Başlığı">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="form-group mb-3 col-md-12">
                            <label>Haber İçeriği</label>
                            <textarea id="summernote" name="Content" >@Model.Content</textarea>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">Haber Resmi</label>
                                <div class="custom-file">
                                    <input name="ImageFile" type="file" class="custom-file-input" id="customFile">
                                    <label class="custom-file-label" for="customFile"></label>
                                </div>
                                @*<span asp-validation-for="ProfileImage" class="text-danger"></span>*@
                            </div>
                            @if (!string.IsNullOrEmpty(Model.ImageUrl))
                            {
                                <div class="row mb-3 ml-3">
                                    <img width="250" height="250" src="@Model.ImageUrl" />
                                </div>
                            }
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group mb-3 col-10">
                        </div>
                        <div class="col-2">
                            <input type="button" onclick="addNews();" class="btn btn-primary btn-block" value="Kaydet">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
@section Scripts{
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/summernote/summernote.min.js"></script>
    <script src="~/view-resources/news/AddOrEdit.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#summernote').summernote({
                height: 200
            });
        });
    </script>
    <script type="text/javascript">
        // Add the following code if you want the name of the file appear on select
        $(".custom-file-input").on("change", function () {
            var fileName = $(this).val().split("\\").pop();
            $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
        });
    </script>
}